bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/HR.LeaveManagement/FileContentIndex/9ebb61da-5bc8-4d35-a79f-5b22cbb3b3b9.vsidx
/.vs/HR.LeaveManagement/v17/.suo
/.vs/HR.LeaveManagement/v17/DocumentLayout.backup.json
*.vsidx
/.vs/HR.LeaveManagement/FileContentIndex/709aaef0-fed1-4b5d-bb2a-1128df6cfe61.vsidx
/.vs/HR.LeaveManagement/FileContentIndex/8baaa0cf-ef86-4755-a1fe-c9939dba0d00.vsidx
/.vs/HR.LeaveManagement/FileContentIndex/936c5147-67e5-41ea-bee2-c4e33861fbdf.vsidx
/.vs/HR.LeaveManagement/FileContentIndex/b7b64649-4d73-4bdf-bafa-56ec511cb5b5.vsidx
/.vs/HR.LeaveManagement/DesignTimeBuild/.dtbcache.v2
.vs/
[Bb]in
